header {
    font-family: Roboto;
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color:#F9FAF8;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

nav {
    font-size: 18px;
    color: #E5E7EB;
}